[Desktop Entry]
Name=Public Transport
Exec=qmlscene $@ Main.qml
Icon=PublicTransport.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Title=Public Transport
X-Ubuntu-Splash-Color=white
